@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 254 42% 1%;
    --foreground: 254 37% 100%;
    --muted: 254 39% 11%;
    --muted-foreground: 254 8% 71%;
    --popover: 254 42% 1%;
    --popover-foreground: 254 37% 100%;
    --card: 254 42% 2%;
    --card-foreground: 0 0% 100%;
    --border: 254 10% 13%;
    --input: 254 10% 13%;
    --primary: 254 87% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 254 7% 19%;
    --secondary-foreground: 254 7% 79%;
    --accent: 254 16% 26%;
    --accent-foreground: 254 16% 86%;
    --destructive: 0 94% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 254 87% 61%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    background-color: hsl(var(--muted));
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: hsl(var(--accent));
    border-radius: var(--radius);
  }
}
